@page
@model IndexModel
@{
    ViewData["Title"] = "Demo's page";
    var UserDemos = ViewData["UserDemos"];
}

<div class="text-center">
    <h1 class="display-4">Existing demo's'</h1>

    <div class="user-demos-div">
        <div class="user-demos-list row">

            <!-- This goes in a foreach -->
            <div class="demo col-4">
                <div class="demo card">
                    <img src="{Logopath}" class="card-img-top" alt="{Title} logo">
                    <div class="card-body">
                        <h3 class="card-title">{Title}</h3>
                        <a class="btn btn-primary" asp-route-id="{Id}" asp-controller="Demo">Open Flow</a>
                    </div>
                    <div class=""></div>
                </div>
            </div>
            <!---->

            <div class="demo col-4">
                <div class="demo card">
                    <img src="https://loremflickr.com/300/300" class="card-img-top" alt="Placeholder">
                    <div class="card-body">
                        <h3 class="card-title">New Flow</h3>
                        <a class="btn btn-primary" href="/Demo/Create">Create Flow</a>
                    </div>
                    <div class=""></div>
                </div>
            </div>
        </div>
    </div>

</div>
